p {
}
.Side-Bar {
  position: fixed;
  left: 100px;
  width: 356px;
  overflow-x: hidden;
  padding: 10px;
  overflow-y: auto;
  top: 60px;
  bottom: 0;
  &-text {
    font-size: 20px;
    margin: 20px 0px;
  }
  &-text1 {
    color: #000;
    &:hover {
      color: rgb(239, 16, 16);
    }
  }
}
.active {
  color: rgb(239, 16, 16);
}
.live_hover:hover {
  color: rgb(239, 16, 16);
  cursor: pointer;
}
.button {
  &-text {
  }
  &-login {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: rgba(254, 44, 85, 1);
    border-color: rgba(254, 44, 85, 1);
    background-color: rgba(255, 255, 255, 1);
    min-width: 168px;
    min-height: 48px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    margin-top: 20px;
    width: 100%;
  }
}
.icon-menu {
  margin-right: 7px;
}
.defiant {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 15px 0;
}
.Side-Bar-users {
  &-text {
    color: #333;
  }
  &-content {
    display: flex;
    margin: 10px 10px 10px 0;
    &-box {
      max-width: 35px;
      max-height: 35px;
    }
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
    &-text {
      font-weight: 700;
      margin-left: 10px;
      margin-top: 3px;
      font-size: 18px;
      &2 {
        opacity: 0.6;
        font-size: 14px;
      }
    }
  }
}
.Side-Bar-tag {
  &-box {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 20px;
    margin: 5px 5px 5px 0;
    cursor: pointer;
    &:hover {
      background-color: rgb(254, 44, 85);
      color: #fff;
    }
    &-text {
      display: inline-block;
      &-icon {
      }
    }
  }
}
